html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
  font-family: 'Poppins';
	background-color: black;
	height: 500vh;
}

@media screen and (max-width: 1440px){
	.nav-container{
		width: 1134px;
	}
	.header-img img{
		width: 20rem;
		height: 20rem;
		margin-left: -5rem;
	}
}

@media screen and (max-width: 1100px){
	.nav-container{
		display: none;
	}
	.card-container{
		width: 49rem
	}
	.down img{
		margin-left: -41px;
	}
	.top{
		left: 3rem;
	}
	.card-content{
		width: 426px;
	}
	.fix img{
		width: 20rem;
	}
	.responsive-menu{
		display: flex;
	}
	.card-entp-container{
		width: 256px;
	}
	.float-center-cel img{
		width: 20rem;
	}
	.image-float img{
		width: 15rem;
	}

}

@media screen and (max-width: 1000px){
	.footer-container{
		flex-wrap: wrap;
		width: 35rem;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
	}
	
}

@media screen and (max-width: 800px){
	.footer-container{
		flex-wrap: wrap;
		width: 35rem;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
	}
	.title{
		font-size: 38px;
	}
	.card-container{
		width: 24rem;
		flex-direction: column-reverse;
		padding: 2rem;
	}
	
	.card-subtitle, .card-btn{
		display: none;
	}
	.down img{
		width: 10rem;
	}
	.top img{
		width: 12rem;
	}
	.fixCard{
		margin-top: -0.7rem;
	}
	.card-title{
		font-size: 20px;
		line-height: 28px;
	}
	.fix{
		margin-left: 2px;
}
	}
	
